<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mygraduation_s"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- 连网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡中用到的 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 结束package -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mygraduation_s.activity.MainActivity"
            android:label="驾校一点通" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.LawActivity"
            android:label="法律法规" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.SubjectTwoActivity"
            android:label="科目二" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.SxlxActivity"
            android:label="顺序练习" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.SjlxActivity"
            android:label="随机练习" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.ZjlxActivity"
            android:label="章节练习" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.ZjlxTypeActivity"
            android:label="章节练习" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.MnksActivity"
            android:label="模拟考试" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.ScoreActivity"
            android:label="考试得分" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.SubjectThreeActivity"
            android:label="科目三" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.DetailActivity"
            android:label="详情" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.CollectionActivity"
            android:label="收藏夹" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.CtjlbActivity"
            android:label="错题记录本" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.PointActivity"
            android:label="考试要点" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.CheatsActivity"
            android:label="必过秘籍" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.LoginActivity"
            android:label="登录" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.RegisterActivity"
            android:label="注册" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.activity.CircleOfFriendsActivity"
            android:label="朋友圈" >
        </activity>
        <activity
            android:name="com.example.mygraduation_s.MaActivity"
            android:label="@string/title_activity_ma" >
        </activity>
    </application>

</manifest>